@font-face {
  font-family: 'CursedTimer';
  src: url('./CursedTimerUlil-Aznm.ttf') format('truetype');
}

button {
    font-family: 'CursedTimer', sans-serif;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: #1B244A;
    padding: 10px;
    color: #9AABD8;
    font-size: inherit;
}

body {
    margin: 0;
    /* background-color: #1B244A; */
}

.container {
    width: 575px;
    height: 385px;
    background-color: #1B244A;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team{
    font-family: Verdana;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    background: #1B244A;
    color: #EEEEEE;
    margin: 0 0 20px 0;
}

.score{
    width: 155px;
    height: 120px;
    border-radius: 5px;
    background-color: #080001;
    font-family: CursedTimer;
    color: #F94F6D;
    font-weight: 400;
    font-size: 90px;
    line-height: 120px;
    text-align: center;
    margin: 0 0 20px 0;
}

.score-btns{
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}
